.article
    clearfix()
    width 720px
    margin 0 auto
    &__container
        float left
        width 50%
    &__content
        float right
        width 50%
        padding-left 30px
    &__title
        font-size 20px
        margin 0
    &__text
        font-size 14px
    a
        font-size 14px