.info-block
    width 100%
    margin-top 30px
    background #45916b
    color #fff
    &__i
        clearfix()
        width 720px
        margin 0 auto
    &__container
        margin-right 2.7%
        width (100% / 2 - @margin-right)
        float left
        padding 20px 0
        &:last-child
            margin-right 0
    &__title
        font-size 18px
        margin 0
    &__list
        font-size 14px
        padding 0
        margin 10px 0
    &__text
        font-size 14px
        margin 10px 0