html, body
    height 100%

body
    background url('../img/tile.jpg')
    margin 0
    padding 0
    font-family 'Roboto', sans-serif

*
    box-sizing border-box
    &:before, &:after
        box-sizing border-box

a
    color #000
    text-decoration none
    font-size 14px
    font-weight bold
    transition color .3s
    &:hover
        color #45916B
    &:active
        color darken(#45916B, 10%)

sticky-footer(100px)

.container
    width 940px
    margin 0 auto
    background #fff
    box-shadow 0px 0px 30px rgba(0,0,0,0.5)
    &_margin-bottom
        margin-bottom 30px

.order-form
    width 720px
    margin 0 auto
    &__header
        margin-bottom 30px
    &__title
        font-size 18px
        margin 0
    &__subtitle
        font-size 16px
        font-weight normal
        margin 0
        margin-top 10px
        position relative
    &__tie-id
        color #45916b
    .fa
        position absolute
        left -25px
        top 5px
        color #45916b