.social
    width 720px
    margin 0 auto
    margin-bottom 20px
    &__list
        clearfix()
        list-style none
        padding 0
        margin 0
    &__item
        float left
        margin-right 30px
        &:last-child
            margin-right 0
        .fa
            color #45916b
    &__link
        font-size 16px
        padding 20px 0
        display inline-block